.cards-main{
    height: 180px;
    width: 300px;
    box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid red;
    transition: all 0.3s ease-out;
    border-radius: 10px;
}



.cards-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;

}



.cards-main:hover{
    height: 200px;
    width: 320px;
    transition: all 0.3s ease-in-out;
}