.contact-main{
    background-color: var(--primary-color); /* Use the secondary color for the background */
    height: auto;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
}

.contact-header{
    font-size: 1.2rem;
    color: #000000; /* Darker text color for better contrast */
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    background-color: var(--secondary-color); /* Use the secondary color for the background */
    /* z-index: 10000000; */
}

.contact-content{
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.icon-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.icon-div:hover{
    background-color: var(--secondary-color); 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-icon{
    stroke: #ffffff;
    transition: stroke 0.3s ease;
}

.icon-div:hover .contact-icon{
    stroke: var(--primary-color); 
    transition: stroke 0.3s ease;
}