/* About Section */
.about-section {
    background-color: var(--secondary-color);
    /* Dark Blue */
    width: 100vw;
    height: 89vh;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    /* Bright White */
}

.about-content {
    /* width: 100%; */
    height: 100%;
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    /* Full height of the grid */
}

.about-image img {
    width: 30%;
    height: 60%;
    border-radius: 10% 5% 10% 5%;
    object-fit: cover;
    display: flex;
    border: 4px solid var(--highlight-color);
    /* Neon Pink */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


/* Adjustments for 1200px and above */
@media (min-width: 1200px) {
    .about-image img {
        width: 25%;
        height: 50%;
    }
}

/* Adjustments for 900px to 1199px */
@media (max-width: 1199px) and (min-width: 900px) {
    .about-image img {
        width: 35%;
        height: 55%;
    }
}

/* Adjustments for 600px to 899px */
@media (max-width: 899px) and (min-width: 600px) {
    .about-image img {
        width: 40%;
        height: 50%;
    }
}

/* Adjustments for 300px to 599px */
@media (max-width: 599px) and (min-width: 300px) {
    .about-image img {
        width: 50%;
        height: 45%;
    }
}

/* Adjustments for below 300px */
@media (max-width: 299px) {
    .about-image img {
        width: 90%;
        height: 90%;
    }
}

.about-info h2 {
    color: var(--highlight-color);
    /* Neon Pink */
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-info p {
    color: var(--text-color);
    /* Bright White */
    font-size: 1.2rem;
    line-height: 1.6;
}



@media (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        /* Single column layout */
    }

    /* .about-image,
    .about-info {
        height: auto;
    } */
}